.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #b6d6f6;
}

.app-container {
  width: 90%;
  max-width: 550px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}

footer span {
  color: #ff6347;
  font-weight: bold;
}
